body{
    background-color: rgb(63, 147, 150);
    font: normal 15pt verdana;
}
header{
    color: white;
    text-align: center;
    font: normal 14pt verdana;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 550px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.193);
    
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
div{
    color: rgb(0, 96, 99);
    text-align: left;
    padding: 8px;
    font: normal 12pt verdana;
}
h{
    text-align: center;
    font: normal 10pt verdana;
    color: rgb(116, 116, 116);
}
#foto1{
    text-align: center;
}
div#resultados{
    font: normal 15pt verdana;
    width: auto;
    height: auto ;
    background-color: rgb(0, 96, 99);
    color: white;
    border-radius: 10px;
    font-weight:bolder;
    text-align: center;
    line-height: center;
    float:right;
    
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #8d8d8d56;
    font-size: 20px;
    border: none;
    color: rgb(0, 96, 99);
    padding: 8px 20px;
    font-weight:bolder;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    
  }

